In [19]:
from cptac_proteomics import *
import pandas as pd
import cptac

In [20]:
result = phospho_tumor_vs_normal('brca', 'A2M_S710,AAAS_S2526')

In [21]:
result_df = pd.DataFrame(result)
result_df

,,,,01BR001,01BR008,01BR009,01BR010,01BR015,01BR017,01BR018,01BR020,01BR023,01BR025,...,20BR005,20BR006,20BR007,20BR008,21BR001,21BR002,21BR010,22BR005,22BR006,604
A2M,S710,LRVGFYESDVMGRGH,ENSG00000175899.15,NaN,NaN,NaN,-10.118359,NaN,-10.399467,NaN,-10.982268,-11.133599,NaN,...,NaN,-12.441053,NaN,NaN,NaN,NaN,-11.468093,-11.357858,NaN,NaN

In [22]:
cols = result_df.columns.tolist()

for col in cols:
    if '.N' in col:
        print(col)

In [23]:
ov_phospho = get_deduplicated_phospho(cptac.Brca())

In [24]:
for col in ov_phospho.columns.tolist():
    if '.N' in col:
        print(col)